<form>
    <div>
        <p>
            <label for="Name">Your Name :<input type="text" name="Name"></label>
        </p>
    </div>
    <div id="threecols">
        <div class="col1of3">
            <img src="images/chair.png" alt="item1" id="item1pic" class="item-pic" width="250px" height="200px">
            <h3>Winnie the pooh chair</h3>
            <p>$150 for each</p>
            <p>
                <label for="item1" id="item1"><b>Quantity:</b></label>
                <input type="text" name="item1">
            </p>
        </div>
        <div class="col2of3">
            <img src="images/bed.png" alt="item2" id="bedpic" class="item-pic" width="250px" height="200px">
            <h3>Winnie the pooh blanket</h3>
            <!--	<form action="shop.php" method="POST">	-->
            <p>$200 for each</p>
            <p>
                <label for="item2" id="item2"><b>Quantity:</b></label>
                <input type="text" name="item2">
            </p>
        </div>
        <div class="col3of3">
            <img src="images/charger.jpg" alt="item3" id="chargerpic" class="item-pic" width="250px" height="200px">
            <h3>Winnie the pooh charger</h3>
            <!--	<form action="shop.php" method="POST">	-->
            <p>$50 for each</p>
            <p>
                <label for="item3" id="item3"><b>Quantity:</b></label>
                <input type="text" name="item3">
            </p>
            <br /><br />
        </div>
    </div>
    <input type="submit" value="Checkout" id="submitbutton">
</form>