    <fieldset>
    <div>
        <label>Name:
        <input id="ArtistName" name="ArtistName" type="text" required>
        </label>
    </div>
    <div>
        <label>Email:
        <input id="ArtistEmail" name="ArtistEmail" type="email" required>
        </label>
    </div>

    <div>
        <label>Phone:
        <input id="ArtistPhone" name="ArtistPhone" required>
        </label>
    </div>
    <div>
        <label>Description:
        <input id="PieceDescription" name="PieceDescription" required></input>
        </label>
    </div>
    </fieldset>
    <button class="btn-post">Submit Proposal</button>