<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<title>Winnie The Pooh Shop</title>
</head>

<body class="homecontainer">
	<nav class="header">
		<a href="/"><img src="images/winnielogo.png" class="header-logo"></a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/shop">Shopping</a></li>
			<li><a href="/proposal">Call Proposal</a></li>
		</ul>
	</nav>
	<div>
		<a href="/about"><img src="images/welcome.png" class="welcome-logo"></a>
	</div>
</body>

</html>