<h1>User Detail</h1>
<div>
  <span class='name'>Name:</span>
  <span><%= userinfo['ArtistName'] %></span>
</div>
<div>
  <span class='name'>Email:</span>
  <span><%= userinfo['ArtistEmail'] %></span>
</div>
<div>
  <span class='name'>Phone:</span>
  <span><%= userinfo['ArtistPhone'] %></span>
</div>
<div>
  <span class='name'>Description:</span>
  <span><%= userinfo['PieceDescription'] %></span>
</div>
